{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="blog">
        <h1 class="text-center">Blog Posts</h1>
    
        <div class="row">
             {% for blog in posts %} 
                {% set link = blog.id %}
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{blog.title}}</h4>
                        <p class="card-text">
                            {{blog.body}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/blog?id={{link}}" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}