{% extends "base.html" %}
{% block content%}

<div class="container">
    <div class="blog">
        <h1 class="text-center">Authors</h1>
        <div class="row">
        {% for user in users %}
                {% set link = user.id%}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{user.username}}</h4>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <a href="/blog?user={{link}}" class="card-link">Post History</a>
                </div>
            </div>
         {% endfor %}
        </div>
    </div>
</div>

{% endblock %}